* {
	margin: 0;
	padding: 0;
}
html, body {
	overflow: hidden;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	font-family: sans-serif;
	user-select: none;
}
#canvas {
	background-color: white;
	cursor: none;
	position: absolute;
	box-shadow: 0 4px 20px rgba(0,0,0,.2);
	outline: none;
}
#canvas:hover {
	z-index: 999;
}
#canvasR {
	background-color: white;
	position: absolute;
	top: 0;
	left: 0;
	box-shadow: 0 4px 20px rgba(0,0,0,.2);
	outline: 1px solid black;
}
#cursor1, #cursor2 {
	border: 1px solid rgba(0,0,0,0);
	position: relative;
	top: -8px;
	left: -8px;
	background-color: black;
	position: absolute;
	border-radius: 100%;
	width: 4px;
	height: 4px;
	pointer-events: none;
	z-index: 1000;
}
#text {
	text-align: left;
	color: rgba(0,0,0,.8);
	padding: 320px 0 0px 16px;
	width: 100%;
	height: 100%;
	transition: 200ms ease-in-out;
}
#text:hover {
	opacity:1;
}
#text > ul > li > ul > li {
	display: inline;
	padding: 0 30px;
}
button.colours {
	margin-top: 20px;
	width: 40px;
	height: 40px;
	border-radius: 100%;
	border: 0;
	outline: none;
	box-shadow: 0 1px rgba(0,0,0,.5),
				inset 0 -1px 24px rgba(0,0,0,.1);
}
button.colours:hover {
	box-shadow: 0 1px rgba(0,0,0,.5),
				inset 0 -1px 24px rgba(255,255,255,.6);
}
button.colours:active {
	box-shadow: 0 1px rgba(0,0,0,.5),
				inset 0 2px 12px 2px rgba(0,0,0,.2);
}