* {
	margin: 0;
	padding: 0;
}

html, body {
	width: 100%;
	height: 100%;
	overflow: hidden;
	font-family: sans-serif;
}

canvas {
	position: relative;
	cursor: none;
	display: inline;
	background-color: white;
	outline: 1px solid rgb(200,200,200);
}
#left {
	box-shadow: inset -1px 0 rgb(200,200,200);
}
#left, #right {
	position: relative;
}
#right {
	cursor: pointer;
}
#right:active {
	background-color: red;
}
#lmouse, #rmouse {
	pointer-events: none;
	width: 0;
	height: 0;
	position: absolute;
	background-color: black;
	border-radius: 100%;
	z-index: 1;
}
#paintarea {
	position: relative;
	display: inline-block;
}
#toolbox {
	z-index: 2;
	position: absolute;
	left: -200px;
	transition: 200ms cubic-bezier(0.115, 0.555, 0.265, 0.970);
}
#toolbox:hover {
	left: 0;
}
#controls {
	color: rgb(250,250,250);
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 20px;
	display: block;
	background-color: rgb(75,75,75);
	width: 170px;
	z-index: 0;
}
#controls .title {
	font-size: 30px;
}
#controls > ul > li {
	margin-top: 10px;
	margin-bottom: 10px;
}
#toolbox:hover #arrow {
	left: -20px;
}
#arrow {
	left: 0;s
	z-index: -1;
	position: absolute;
	float: left;
	margin-top: 50px;
	width: 0px; 
	margin-left: 200px;
	height: 0px;
	border-left: 20px solid rgb(75,75,75);
	border-top: 20px solid transparent;
	border-bottom: 20px solid transparent;
	transition: 300ms ease-in;
}
input[type='range'] {
	outline: none;
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    background:rgb(200,200,200);
    height:4px;
    position: relative;
    top: -5px;
    border-radius: 100px;
}
input[type='range']::-webkit-slider-thumb {
	position: relative;
	outline: none;
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    background: rgb(0,122,225);
    box-shadow: inset 0 0 0 2px rgb(220,220,220);
    border-radius: 100%;
    height:12px;
    width:12px;
}
input[type='range']::-moz-slider-thumb {
	position: relative;
	outline: none;
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    background: rgb(0,122,225);
    box-shadow: inset 0 0 0 2px rgb(220,220,220);
    border-radius: 100%;
    height:12px;
    width:12px;
}

input[type=checkbox]{
    display: none;
}


 input[type=checkbox] + label{
    display: inline-block;
    width: 32px;
    height: 32px;
    padding-left: 40px;
    background-position: 0 0;
    background-repeat: no-repeat;
    line-height: 32px;
    cursor: pointer;
}

input[type=checkbox]:checked + label{
  background-position: left -32px;
}

label{
 background-image:url(http://csscheckbox.com/checkboxes/u/csscheckbox_d2a60beb8fb6bbb280642579049ebf65.png);
}

#controls  ul  * {
	width: 100%;
}

input[type="color"] {
	outline: none;
	border: none;
	background-color: rgba(0,0,0,0);
	width: 100%;
	height: 20px;
	-webkit-appearance: none;
	-moz-appearance: none;
}
input[type="color"]::-webkit-color-swatch-wrapper {
	padding: 0;
}
input[type="color"]::-moz-color-swatch-wrapper {
	padding: 0;
}
input[type="color"]::-webkit-color-swatch {
	border-radius: 100px;
	border: none;
}
input[type="color"]::-moz-color-swatch {
	border-radius: 100px;
	border: none;
}
button {
	width: 100%;
	color: white;
	outline: none;
	padding: 6px 12px;
	background-color: rgb(75,75,75);
	border: 3px solid rgb(200,200,200);
}





